[style*="--aspect-ratio"] > :first-child {
    width: 100%;
  }
  [style*="--aspect-ratio"] > img {  
    height: auto;
  } 
  @supports (--custom:property) {
    [style*="--aspect-ratio"] {
      position: relative;
    }
    [style*="--aspect-ratio"]::before {
      content: "";
      display: block;
      padding-bottom: calc(100% / (var(--aspect-ratio)));
    }  
    [style*="--aspect-ratio"] > :first-child {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }  
  }

  .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
  }

  .form-group.form-file-upload.form-file-simple {
    text-align: center;
}

.card-user form .form-group {
  margin-bottom: 0px;
}

.card.card-user.formulario {
  min-height: 405px;
}

.logo, .sidebar-wrapper {
  background-color: #f0fff6;
}

.card {

  background-color: #c6f5e3;
}

.main-panel {

  color: #fff;
  background-color: #0b935e;
}

img.log-interno{
  width: 100px;
  margin-bottom: 30px;
}

.navbar.navbar-transparent {
  border-bottom: 1px solid #0b935e;
}

.titulo-home {
  text-align: center;
  margin-bottom: 30px;
}

.card-user .card-body {
  min-height: 400px;
}

.payment-wait{
 color: red;
 font-weight: bold;

}

.payment-ok{
  color: #23b585;
  font-weight: bold;
 }

 .payment-404{
  color: black;
  font-weight: bold;
 
 }

/* .main-panel {

  background: repeat-x url(../app/assets/img/logo1.png) !important;
}

body {
  background: repeat url(../app/assets/img/logo1.png) !important;
} */

